@model Vleague_Management_Website.Models.Cauthu

@{
    ViewData["Title"] = "ChiTietCauThu";
    Layout = "~/Views/Shared/LayoutDetailCauThu.cshtml";
}

</div><div class="middle_inner">
					<div class="content_wrap fullwidth profile_page">

						<!-- Start Content -->
						<div class="middle_content entry" role="main">
							<div class="profiles opened-article">

								<!-- Start Standard Profile -->

								<article id="post-6040" class="post-6040 profile type-profile status-publish has-post-thumbnail hentry pl-categs-number-1">
									<header class="cmsmasters_profile_header entry-header"><h1 class="cmsmasters_profile_title entry-title">@Model.HoVaTen</h1><h5 class="cmsmasters_profile_subtitle">@Model.ViTri</h5></header><div class="profile_content with_sidebar">
										<div class="cmsmasters_profile_content entry-content">
											<style type="text/css">
												#cmsmasters_row_6406e6103829f8_99305877 .cmsmasters_row_outer_parent {
													padding-top: 0px;
												}

												#cmsmasters_row_6406e6103829f8_99305877 .cmsmasters_row_outer_parent {
													padding-bottom: 50px;
												}


												#cmsmasters_row_6406e610388233_71954436 .cmsmasters_row_outer_parent {
													padding-top: 0px;
												}

												#cmsmasters_row_6406e610388233_71954436 .cmsmasters_row_outer_parent {
													padding-bottom: 50px;
												}
											</style><div id="cmsmasters_row_6406e6103829f8_99305877" class="cmsmasters_row cmsmasters_color_scheme_default">
												<div class="cmsmasters_row_outer_parent">
													<div class="cmsmasters_row_outer">
														<div class="cmsmasters_row_inner">
															<div class="cmsmasters_row_margin">
																<div class="cmsmasters_column one_first">
																	<div class="cmsmasters_img  cmsmasters_image_n">
																		<a href="../Layout_FootballLeague/wp-content/uploads/2015/04/3.jpg" rel="ilightbox"><img src="../Layout_FootballLeague/wp-content/uploads/2015/04/3.jpg" /></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="cmsmasters_row_6406e610388233_71954436" class="cmsmasters_row cmsmasters_color_scheme_default">
												<div class="cmsmasters_row_outer_parent">
													<div class="cmsmasters_row_outer">
														<div class="cmsmasters_row_inner">
															<div class="cmsmasters_row_margin">
																<div class="cmsmasters_column one_first">
																	<div class="cmsmasters_text">
																		<p>Etiam eu molestie eros, commodo hendrerit sapien. Maecenas tempus leo ac nisi iaculis porta. Sed sapien tortor, aliquet a velit ut, lacinia molestie velit. Maecenas ornare consequat massa ullamcorper dapibus. Aliquam auctor, sapien sit amet accumsan facilisis, enim enim aliquet arcu, tincidunt pellentesque justo turpis id neque. Duis eleifend nunc sit amet mi dapibus ornare. Suspendisse vel libero se Maecenas ornare consequat massa ullamcorper dapibus. Aliquam auctor, sapien sit amet accumsan facilisis, enim enim aliquet arcu, tincidunt pellentesque justo turpis id neque. Duis eleifend nunc sit amet mi dapibus ornare. Suspendisse vel libero se</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="cl"></div>
										</div>
									</div><div class="profile_sidebar"><div class="profile_details entry-meta"><h2 class="profile_details_title">Profile details</h2><div class="profile_details_item"><div class="profile_details_item_title">Position on field:</div><div class="profile_details_item_desc">@Model.ViTri</div></div><div class="profile_details_item"><div class="profile_details_item_title">Age:</div><div class="profile_details_item_desc">@Model.Ngaysinh</div></div><div class="profile_details_item"><div class="profile_details_item_title">Address:</div><div class="profile_details_item_desc">99 Anywhere Road Wolverhampton W1</div></div><div class="profile_details_item"><div class="profile_details_item_title">Phone:</div><div class="profile_details_item_desc">+1 999 123 234</div></div><div class="profile_details_item"><div class="profile_details_item_title">Email:</div><div class="profile_details_item_desc">bob.example@com</div></div><div class="profile_details_item"><div class="profile_details_item_title">Categories:</div><div class="profile_details_item_desc"><span class="cmsmasters_profile_category"><a href="../Layout_FootballLeague/pl-categs/number-1/index.html" rel="tag">Number 1</a></span></div></div><div class="profile_details_item"><div class="profile_details_item_title">Like:</div><div class="profile_details_item_desc details_item_desc_like"><a href="#" onclick="cmsmasters_like(6040); return false;" id="cmsmastersLike-6040" class="cmsmastersLike cmsmasters_theme_icon_heart"><span>8</span></a></div></div></div><div class="profile_social_icons"><h2 class="profile_social_icons_title">Socials</h2><ul class="profile_social_icons_list"><li><a href="#" class="cmsmasters-icon-instagramm" title=""></a></li><li><a href="#" class="cmsmasters-icon-skype" title=""></a></li><li><a href="#" class="cmsmasters-icon-twitter" title=""></a></li><li><a href="#" class="cmsmasters-icon-facebook-squared" title=""></a></li></ul></div></div>	<div class="cl"></div>
								</article>
								<!-- Finish Standard Profile -->

								<aside class="post_nav"><span class="cmsmasters_next_post cmsmasters_theme_icon_slide_next"><a href="../rocky-thunder/index.html" rel="next">Rocky Thunder</a></span><span class="cmsmasters_prev_post cmsmasters_theme_icon_slide_prev"><a href="../ronny-the-lion/index.html" rel="prev">Ronny The Lion</a></span></aside>
							</div>
						</div>
						<!-- Finish Content -->

					</div>
				</div>

