
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_DanhSachAnThe.cshtml";
}

@{
    int i = 1; 
}
<div id="cmsmasters_row_6406e5d57478d4_68782024"
     class="cmsmasters_row cmsmasters_color_scheme_default">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_wrap_table">
                            <table class="cmsmasters_table">
                                <caption></caption>
                                <thead>
                                    <tr class="cmsmasters_table_row_header">
                                        <th class="cmsmasters_table_cell_aligncenter">
                                            VỊ TRÍ
                                        </th>
                                        <th class="cmsmasters_table_cell_aligncenter">
                                            TÊN CẦU THỦ
                                        </th>
                                        <th class="cmsmasters_table_cell_aligncenter">
                                            SỐ THẺ ĐỎ
                                        </th>
                                        <th class="cmsmasters_table_cell_aligncenter">
                                            SỐ THẺ VÀNG
                                        </th>
                                     
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cmsmasters_table_cell_aligncenter">
                                            @i
                                        </td>
                                        <td class="cmsmasters_table_cell_aligncenter">
                                            @item.tencauthu
                                        </td>
                                        <td class="cmsmasters_table_cell_aligncenter">
                                            @item.sothevang
                                        </td>
                                        <td class="cmsmasters_table_cell_aligncenter">
                                            @item.sothedo
                                        </td>
                                      @{i++;}
                                    </tr>
                                }
                           

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>