/**
 * @package 	WordPress
 * @subpackage 	Sports Club
 * @version 	1.0.4
 * 
 * High Resolution (Retina) Displays CSS Rules
 * Created by CMSMasters
 * 
 */


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), 
	only screen and (-moz-min-device-pixel-ratio: 1.5), 
	only screen and (-o-min-device-pixel-ratio: 3/2), 
	only screen and (min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 144dpi) {
	
	.footer_inner .logo img,
	.header_mid_inner .logo img {
		display:none;
	}
	
	.footer_inner .logo > .footer_logo_retina,
	.header_mid_inner .logo .logo_retina {
		display:inline-block;
	}
	
	.header_mid_inner .logo img {
		max-height:80%;
		max-width:80%;
	}
	
	#header.navi_scrolled .logo_wrap img.logo_mini {
		display:none;
	}
	#header.navi_scrolled .logo_wrap img.logo_mini_retina {
		display:block;
	}
	
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	  html #page #header .header_mid .header_mid_outer .header_mid_inner .header_mid_right_wrap .header_mid_right_wrap_aligner .search_wrap { top:-5px !important; }
	}
}