@{
    ViewData["Title"] = "TranDau";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Huấn Luyện Viên </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Huấn Luyện Viên</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh Sách Huấn Luyện Viên</h4>
                    @*<p class="card-description">
                    Add class <code>.table-bordered</code>
                    </p>*@
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên HLV</th>
                                <th>Năm Sinh</th>
                                <th>Quốc Tịch</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-HLV">
                        </tbody>
                    </table>
                    <div class="text-center">Page <span id="page-number">1</span></div>
                    <div id="pagination_hlv"></div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Huấn Luyện Viên</h4>
                    <p class="card-description" id="card-action"></p>
                    <form class="forms-sample" id="form-huanluyenvien">
                        <div class="form-group">
                            <label for="HuanLuyenVienId">ID Huấn Luyện Viên</label>
                            <input type="text" class="form-control" id="HuanLuyenVienId" placeholder="ID Huấn Luyện Viên">
                        </div>
                        <div class="form-group">
                            <label for="tenhlv">Tên HLV</label>
                            <input type="text" class="form-control" id="tenhlv" placeholder="La Cảnh Kỳ">
                        </div>
                        <div class="form-group">
                            <label for="year">Năm Sinh</label>
                            <input type="text" class="form-control" id="year" placeholder="2002">
                        </div>
                        <div class="form-group">
                            <label for="country">Quốc Tịch</label>
                            <input type="text" class="form-control" id="country" placeholder="Việt Nam">
                        </div>
                        <button class="btn btn-gradient-primary me-2" onclick="InsertHuanLuyenVien()">Thêm</button>
                        <button class="btn btn-gradient-primary me-2" onclick="UpdateHuanLuyenVien()">Sửa</button>
                        <button class="btn btn-light" onclick="resetInput()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Layout_Admin/assets/js/HLV.js"></script>