
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div class="content-wrapper">
    <h2 class="text-center">Chào mừng @ViewBag.TenDangNhap!</h2>
</div>


