@{
    ViewData["Title"] = "SetKetQua";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Quản lý trận đấu </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cập nhật kết quả</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách trận đấu</h4>
                    @*<p class="card-description">
                    Add class <code>.table-bordered</code>
                    </p>*@
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ngày thi đấu</th>
                                <th>Đội khách</th>
                                <th>Đội nhà</th>
                                <th>Địa điểm</th>
                                <th>Vòng</th>
                                <th>Kết quả</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-ketqua">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kết quả</h4>
                    <p class="card-description" id="card-action"></p>
                    <form class="forms-sample" id="form-ketqua">
                        <div class="form-group">
                            <label for="TranDauId">Mã trận đấu</label>
                            <input type="text" class="form-control" id="TranDauId" placeholder="Mã trận đấu">
                        </div>
                        <div class="form-group">
                            <label for="TiSoDoiNha">Bàn thắng đội nhà</label>
                            <input type="text" class="form-control" id="TiSoDoiNha" placeholder="Bàn thắng đội nhà">
                        </div>
                        <div class="form-group">
                            <label for="TiSoDoiKhach">Bàn thắng đội khách</label>
                            <input type="text" class="form-control" id="TiSoDoiKhach" placeholder="Bàn thắng đội khách">
                        </div>

                        <button class="btn btn-gradient-primary me-2" onclick="UpdateKetQua()">Cập nhật</button>
                        <button class="btn btn-light" onclick="resetInputKetQua()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Layout_Admin/assets/js/setKetQua.js"></script>