@{
    ViewData["Title"] = "SVD";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Sân vận động </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">SVD</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách Sân Vận Động</h4>
                    @*<p class="card-description">
                    Add class <code>.table-bordered</code>
                    </p>*@
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SVD Id</th>
                                <th>Tên Sân</th>
                                <th>Thành Phố</th>
                                <th>Năm thành lập</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-sanvandong">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SVD</h4>
                    <p class="card-description" id="card-action"></p>
                    <form class="forms-sample" id="form-sanvandong">
                        <div class="form-group">
                            <label for="SanVanDongId">SVD Id</label>
                            <input type="text" class="form-control" id="SanVanDongId" placeholder="1234">
                        </div>
                        <div class="form-group">
                            <label for="TenSan">Tên Sân</label>
                            <input type="text" class="form-control" id="TenSan" placeholder="OldTrafford">
                        </div>
                        <div class="form-group">
                            <label for="ThanhPho">Thành Phố</label>
                            <input type="text" class="form-control" id="ThanhPho" placeholder="Manchester">
                        </div>
                        <div class="form-group">
                            <label for="NamBatDau">Năm thành lập</label>
                            <input type="text" class="form-control" id="NamBatDau" placeholder="0000">
                        </div>
                        <button class="btn btn-gradient-primary me-2" onclick="InsertSVD()">Thêm</button>
                        <button class="btn btn-gradient-primary me-2" onclick="UpdateSVD()">Sửa</button>
                        <button class="btn btn-light" onclick="resetInput()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Layout_Admin/assets/js/svd.js"></script>