<footer id="footer" role="contentinfo" class="cmsmasters_color_scheme_footer cmsmasters_footer_default">
	<div class="footer_bg">
		<div class="footer_inner">
			<nav>
				<div class="menu-footer-navigation-container">
					<ul id="footer_nav" class="footer_nav">
						<li id="menu-item-5086"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-20 current_page_item menu-item-5086">
							<a href="index.html" aria-current="page">Home</a>
						</li>
						<li id="menu-item-6582"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6582">
							<a href="columns/index.html">News</a>
						</li>
						<li id="menu-item-6580"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6580">
							<a href="join-our-club/index.html">Join Our Club</a>
						</li>
						<li id="menu-item-6579"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6579">
							<a href="contacts/index.html">Contacts</a>
						</li>
					</ul>
				</div>
			</nav>

			<span class="footer_copyright copyright">
				<a class="privacy-policy-link" href="privacy-policy/index.html">Privacy Policy</a> / This is a
				sample website - cmsmasters © 2022 / All Rights Reserved
			</span>
		</div>
	</div>
</footer>