<footer id="footer" role="contentinfo" class="cmsmasters_color_scheme_footer cmsmasters_footer_default">
	<div class="footer_bg">
		<div class="footer_inner">
			<span class="footer_copyright copyright">
				 Group 3 © 2023 / All Rights Reserved
			</span>
		</div>
	</div>
</footer>